<!doctype html>
<html lang="en">
  <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="nsds">
        <title>{% block title %}Suivi NSDS!{% endblock %}</title>
        {% block stylesheets %}
          <link rel="stylesheet" href="{{ asset('build/css/global.css') }}">
          <link rel="stylesheet" href="{{ asset('build/css/admin.css') }}">
        {% endblock %}
    </head>
    <body>
        {% block body %}
        <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
              <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/">SuiviNsds</a>
              <input class="form-control form-control-dark w-100" type="text" placeholder="Rechercher" aria-label="Search">
            </nav>

            <div class="container-fluid">
              <div class="row">
                <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                  <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                      <li class="nav-item">
                        <a class="nav-link active" href="#">
                          <span data-feather="/"></span>
                          Dashboard <span class="sr-only">(current)</span>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/DM3">
                          <span data-feather="file"></span>
                            DM3
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/oceane">
                          <span data-feather="file"></span>
                          Océane
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/anomalie">
                          <span data-feather="file"></span>
                          Anomalies
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/assistance">
                          <span data-feather="file"></span>
                          Assistance
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/qualification">
                          <span data-feather="file"></span>
                          Qualification
                        </a>
                      </li>
                    </ul>

                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                      <span>Excel</span>
                      <a class="d-flex align-items-center text-muted" href="#">
                        <span data-feather="plus-circle"></span>
                      </a>
                    </h6>
                    <ul class="nav flex-column mb-2">
                      <li class="nav-item">
                        <a class="nav-link" href="#">
                          <span data-feather="file-text"></span>
                          XXX
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">
                          <span data-feather="file-text"></span>
                          XXX
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">
                          <span data-feather="file-text"></span>
                          XXX
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">
                          <span data-feather="file-text"></span>
                          XXX
                        </a>
                      </li>
                    </ul>
                  </div>
                </nav>

                <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                  {% block main %}
                  {% endblock %}
                </main>
              </div>
            </div>
        {% endblock %}
        {% block javascripts %}
        <script src="{{ asset('build/js/app.js') }}"></script>
        <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
        <script>
          feather.replace()
        </script>
        <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
            <script>
              var ctx = document.getElementById("myChart");
              var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                  labels: ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"],
                  datasets: [{
                    data: [15339, 21345, 18483, 24003, 23489, 24092, 12034],
                    lineTension: 0,
                    backgroundColor: 'transparent',
                    borderColor: '#007bff',
                    borderWidth: 4,
                    pointBackgroundColor: '#007bff'
                  }]
                },
                options: {
                  scales: {
                    yAxes: [{
                      ticks: {
                        beginAtZero: false
                      }
                    }]
                  },
                  legend: {
                    display: false,
                  }
                }
              });
            </script>
        {% endblock %}
    </body>
</html>
